.sidenav{
    background-color: rgb(41, 38, 38);
    width: 150px;
    align-items: center;
}

.sidenav i{
    padding-right: 7px;
    text-align: center;
}
.content{
    padding: 16px;
    background-color: white;
    color: black;
}